<?xml version="1.0"?>
<configuration>	
	<appSettings>
		<!-- UI1 Specific Settings -->
		<add key="UI1String" value="UI1.String"/>
		<add key="UI1Int" value="1"/>
		<add key="UI1Uri" value="http://www.ui1.com"/>
		<!-- Settings Required By API -->
		<add key="CoreString" value="Core.String"/>
		<add key="CoreInt" value="0"/>
		<add key="CoreUri" value="http://www.core.com"/>
	</appSettings>	
</configuration>
