<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- UI2 Specific Settings -->
		<add key="UI2String" value="UI2.String"/>
		<add key="UI2Int" value="2"/>
		<add key="UI2Uri" value="http://www.ui2.com"/>
		<!-- Settings Required By API -->
		<add key="CoreString" value="Core.String"/>
		<add key="CoreInt" value="0"/>
		<add key="CoreUri" value="http://www.core.com"/>
	</appSettings>
</configuration>
